@import "compass_twitter_bootstrap";

body{
  min-width: 1080px;
}

.container {
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 40px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06) inset, 0 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06) inset, 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06) inset, 0 0 0 1px rgba(0, 0, 0, 0.2);
}

header{
  padding-bottom: 5px;
  h1{
    a:link {color:#000;}      /* unvisited link */
    a:visited {color:#000;}  /* visited link */
    a:hover {color:#000;}  /* mouse over link */
    a:active {color:#000;}  /* selected link */
  }
  .btn{
    margin-left: 10px;
  }
  .source{
    margin-top:45px;
    float:right;
  }
}

section{
  padding-bottom: 20px;
  .title{
    font-weight: bold;
  }
  .date{
    font-weight: normal;
    float: right;
    font-style:italic ;
  }
}

.divider{
  border-top: solid 1px $gray;
  margin-bottom: 20px;
}

footer{
  text-align: center;
  color: $grayLight;
  margin-bottom: 20px;
}

.print-links{
  display: none !important;
}

@media print{
  .container{
    margin: 0 auto !important;
    padding: 0 !important;
    box-shadow: none;
  }

  footer{
    margin-bottom: 0 !important;
  }

  .print-links{
    margin-top: 45px;
    display: inline-block !important;
    div{
      float: right;
    }
  }

  .btn{
    display: none !important;
  }
}
